* {
    box-sizing: border-box;
}

#container {
    display: flex;
    margin:3em;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.image {
    -webkit-box-reflect: below 15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(#ff0000));
    transform: matrix(0.5,0,0,1,0,0);
}

.mostra {
    transform: scale(1,1);
    position: absolute;
    transition: all 3s;
    z-index: 10;
}
